<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../resources/images/fabicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>About me - Ragen Maharjan</title>
    <link rel="stylesheet" href="../css/light.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" \
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" \
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/responsive.css" />
</head>

<body>
    <div class="center-nab-el">
        <a href="/index.html">
            <p class="logo text-center"><img src="/resources/images/fabicon.ico" width="20px" alt="" srcset=""> RAGEN
                MAHARJAN
            </p>
        </a>
        <div class="container-btns" id="navbarId">
            <a href="../index.html" class="btns">Home</a>
            <a href="/views/aboutme.html" class="btns active">About</a>
            <a href="/views/services.html" class="btns">Services</a>
            <a href="/views/gallery.html" class="btns">Gallery</a>
            <a href="/views/works.html" class="btns">Works</a>
            <a href="/views/education.html" class="btns">Education</a>
            <a href="/views/contacts.html" class="btns">Contacts</a>
            <a href="/views/blogs/blogs.html" class="btns">Blogs</a>
            <a href="javascript:void(0);" class="icon" id="bars" onclick="showNavlinks()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="javascript:void(0);" class="icon" id="close" onclick="closeNavlinks()">
                <i class="fa fa-close"></i>
            </a>
        </div>
    </div>
    <div class="toggle-button-cover">
        <div class="button-cover">
            <div class="button r" id="button-4">
                <input type="checkbox" class="checkbox" id="toggleId" onchange="toggleTheme();" />
                <div class="knobs"></div>
                <div class="layer"></div>
            </div>
        </div>
    </div>
    <main class="contents">
        <div class="resume">
            <div class="section-title">
                <h2>About me</h2>
            </div>

            <div class="resume-content d-flex">
                <div class="profile-card">
                    <div class="">
                        <img src="../resources/images/ragen-back.png" class="resume-profile-img" />
                    </div>
                    <h2 class="name">Ragen maharjan</h2>
                    <h1 class="my-post">FullStack Developer</h1>
                    <hr class="small-row mt-10" />
                    <p>
                        A passionate developer who brings creative ideas to foster the
                        goals of the company, with a strong understanding of the mobile
                        application development process and adaptable to any work
                        environment.
                    </p>
                    <hr class="small-row" />
                    <div class="icons">
                        <a href="https://www.facebook.com/ragen.maharjan" class="fa-brands fa-facebook-square"
                            target="_blank"></a>
                        <a href="https://github.com/ragenmah" class="fa-brands fa-github-square" target="_blank"></a>
                        <a href="https://www.linkedin.com/in/ragen-maharjan-a4000118a/" class="fa-brands fa-linkedin"
                            target="_blank"></a>
                        <a href="https://www.reddit.com/user/ragenmah99" class="fa-brands fa-reddit-square"
                            target="_blank"></a>
                    </div>

                    <h6 class="copyright text-center p-20">
                        <i class="fa fa-copyright" aria-hidden="true"></i>
                        Ragen maharjan
                        <a href="http://ragen.com.np/"> ragen.com.np</a>
                        <a href="">
                            <img src="../resources/images/banners/banner.png" alt="banner.jpg" class="banner"
                                srcset="" /></a>
                    </h6>
                </div>

                <div class="resume-card">
                    <div class="tab">
                        <button class="tablinks active" onclick="openTabcontent(event, 'introduction')"
                            id="defaultOpen">Introduction</button>
                        <button class="tablinks" onclick="openTabcontent(event, 'stats')">Stats</button>
                    </div>
                    <div id="introduction" class="tabcontent">
                        <!-- <h4 class="aboutme-title p-20">Introduction</h4> -->
                        <div class="p-20">
                            <h3>Namaste !</h3>
                            <h3 class="aboutme-description">
                                <br>
                                I am Ragen Maharjan, a mobile full stack developer. I am familiar with both frontend and
                                backend development, by selecting the necessary technologies. Currently, I've been
                                working
                                as a Flutter developer for more than 3 years. I have an
                                experience with state management libraries like Bloc, Riverpod, and Getx. I've also
                                published more than 5+ mobile apps on Google Play. Some of my significant
                                projects are included in my profile.
                                <br /><br />

                                Additionally, You can also check my stats. I have worked in web, mobile and desktop
                                application.
                                I also have experience in desiging the prototypes and layout from design tools like
                                Figma, use of social network APIs ( Google, Facebook,
                                Google maps), use of REST APIs, use of geolocation and Google Maps, use of database like
                                SQLite, MySQL and MongoDB, use
                                of cloud services (Firebase), use of payment gateways ( Esewa, Khalti, Stripe), use of
                                Android SDK (Camera, Phone, Contacts, Messaging, Storage, Notifications, Web browser),
                                etc.
                                <br /><br />

                                Constantly updating my skill set, I am proficient in various
                                programming languages including C#, Dart, and PHP. Other than
                                the core experience I am very much into open-source work.
                            </h3>
                        </div>

                        <h4 class="aboutme-title p-20">Summary</h4>
                        <div class="p-20">
                            <h3 class="aboutme-description ">
                                <ol class="">
                                    <li>
                                        Design, build, test, deploy, debug & maintain various kinds
                                        of mobile applications
                                    </li>
                                    <li>
                                        Popular architectural design patterns like BLOC, Riverpod,
                                        and Getx, following SOLID principles
                                    </li>
                                    <li>
                                        Integration of third-party APIs/libraries to Integrate
                                        features like payment, social login, location & analytics,
                                        etc.
                                    </li>
                                    <li>Writing Clean, modular, reusable, and robust code.</li>
                                    <li>
                                        Unit testing, integration testing
                                    </li>
                                </ol>
                            </h3>
                        </div>


                        <h4 class="aboutme-title p-20">TOOLS AND TECHNOLOGIES</h4>
                        <div class="p-20">
                            <h3 class="aboutme-description">
                                <ul>
                                    <li>
                                        Riverpod, Bloc, Getx, Provider, Redux [state management]
                                    </li>
                                    <li>Json Serializable [Code generator]</li>
                                    <li>
                                        FCM, Maps,
                                        Authentication [Google/Firebase services]
                                    </li>
                                    <li>Esewa, Khalti [Payment Gateways]</li>
                                    <li>
                                        Sql, Nosql, MongoDB, Sqflite, Sharedpref,
                                        Flutter Secure storage [Databases/Caching]
                                    </li>
                                    <li>Dio, Http [Networking]</li>
                                    <!-- <li>
                                        Twillo, Sendgrid, Stripe, Social Login (FB, Google) [Third
                                        party apis]
                                    </li> -->
                                    <li>Figma, Photoshop [Design tools]</li>
                                    <!-- <li>
                                        Rive (Flutter flare), Lottie [Custom widgets and complex
                                        animations]
                                    </li> -->
                                    <li>
                                        Slack, mattermost, Gitlab/Github
                                    </li>
                                    <li>Android Studio, VS code, PyCharm, Git, CI/CD</li>
                                    <li>MVC</li>
                                </ul>
                            </h3>
                        </div>

                        <h4 class="aboutme-title p-20">PRODUCTIVITY DEVICES</h4>
                        <div class="p-20">
                            <h3 class="aboutme-description">
                                <ul>
                                    <li>Macbook Air 13" M1 chip, 8GB RAM, 128 SSD</li>
                                    <li>Redmi note 5, 64GB, 6GB RAM</li>
                                </ul>
                            </h3>
                        </div>

                        <h4 class="aboutme-title p-20">SOFT SKILLS</h4>
                        <div class="p-20">
                            <h3 class="aboutme-description">
                                <ul>
                                    <li>Ability to Work Under Pressure</li>
                                    <li>Time Management Adaptability</li>
                                    <li>Problem Solving</li>
                                    <li>Leadership</li>
                                    <li>Decision Making</li>
                                </ul>
                            </h3>
                        </div>

                        <h4 class="aboutme-title p-20">Weakness</h4>
                        <div class="p-20">
                            <h3 class="aboutme-description">
                                <ul>
                                    <li>Do not gossip</li>
                                    <li>More workaholic</li>
                                    <li>Average personality</li>

                                </ul>
                            </h3>
                        </div>

                        <h4 class="aboutme-title p-20">Some of my interests are in :</h4>
                        <div class="p-20">
                            <h3 class="aboutme-description">
                                <ul>
                                    <li>
                                        <a href=""> Software development
                                            (Full stack)</a>
                                    </li>
                                    <li>
                                        <a href=""> Mobile application
                                            development</a>
                                    </li>
                                    <li>
                                        <a href=""> UI/UX design</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCOAMEGEcp7GskaGXV8gEtEg"> Video
                                            editing</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCOAMEGEcp7GskaGXV8gEtEg"> Playing
                                            guitar</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCOAMEGEcp7GskaGXV8gEtEg"> Song
                                            writing</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCOAMEGEcp7GskaGXV8gEtEg">
                                            Travelling</a>
                                    </li>
                                </ul>
                            </h3>
                        </div>
                    </div>
                    <div id="stats" class="tabcontent p-20">
                        <h4 class="aboutme-title">Some personal stats</h4>
                        <table>
                            <tr>
                                <td>Date of Birth:</td>
                                <td>8th November, 1994</td>
                            </tr>
                            <tr>
                                <td>Age:</td>
                                <td id="my-age"></td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td>Male</td>
                            </tr>
                            <tr>
                                <td>Strength:</td>
                                <td>Confident, Energetic, Creative, Punctual and Dedicate</td>
                            </tr>
                            <tr>
                                <td>Nationality:</td>
                                <td>Nepal</td>
                            </tr>
                            <tr>
                                <td>Marital Status:</td>
                                <td>Single</td>
                            </tr>
                            <tr>
                                <td>Language Spoken:</td>
                                <td>Nepali, Newari, English, Hindi</td>
                            </tr>
                        </table>
                        <h4 class="aboutme-title p-20">software Development stats (Professional)</h4>
                        <table>
                            <tr>
                                <td>Number of projects involved:</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td>Years working in Software development industry:</td>
                                <td>3+</td>
                            </tr>
                            <tr>
                                <td>Number of Application deployed on Playstore:</td>
                                <td>6+</td>
                            </tr>
                            <tr>
                                <td>Number of Application deployed on Cloud (AWS):</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Number of Application deployed on Hosting servers:</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Number of Freelancer/Part-time project done:</td>
                                <td>4+</td>
                            </tr>
                            <tr>
                                <td>Number of Application Developed in Flutter:</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Number of Application Developed in React Native:</td>
                                <td>2</td>
                            </tr>

                        </table>

                        <h4 class="aboutme-title p-20">software Development stats (College)</h4>
                        <table>
                            <tr>
                                <td>Number of projects involved:</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td colspan="2">More to added in future soon...</td>
                                <!-- <td></td> -->
                                <!-- <td>The above projects are only professional projects</td> -->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../js/script.js"></script>
</body>

</html>