<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ragen Maharjan - Certificates</title>
    <link
      href="../resources/images/ragen.jpg"
      rel="shortcut icon"
      type="image/x-icon"
    />
   
  </head>
  <body>
    <div class="pre-loader" id="pre-loader">LOADING...</div>
    <div class="center-nab-el">
      <div class="container-btns" id="navbarId">
        
          <a href="/" class="btns">Home</a>
          <a href="/views/services.html" class="btns">Services</a>
          <a href="/views/gallery.html" class="btns"> Gallery </a>
          <a href="/views/works.html" class="btns"> Works </a>
          <a href="/views/education.html" class="btns"> Education </a>
          <a href="" class="btns"> Certificates </a>
          <a href="/views/contacts.html" class="btns"> Contacts </a>
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="toggle-button-cover">
      <div class="button-cover">
        <div class="button r" id="button-4">
          <input
            type="checkbox"
            class="checkbox"
            id="toggleId"
            onchange="toggleTheme();"
          />
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container-all">
        <div class="header">
          <h1>Hello there!</h1>
          <h1>Welcome to my certificate...</h1>
        </div>
      </div>
      <div class="certificate-image">
        <img
          src="../resources/images/certificates/certificate.svg"
          class="service-img"
          alt="avatar"
        />
      </div>
    </div>

    <div class="scroll-parent">
      <section id="scroll" class="scroll-down">
        <a href="#mycertificates"><span></span></a>
      </section>
    </div>

    <section id="mycertificates" class="services">
      <div class="my-gallery">
        <figure>
          <img
            src="../resources/images/certificates/10.jpg"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>Futsal Tournament</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure>
          <img
            src="../resources/images/certificates/18.jpg"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>Advanced Java Training</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure>
          <img
            src="../resources/images/certificates/7.jpg"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>3rd Nepali Samaj Programming Contest</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure>
          <img
            src="../resources/images/certificates/9.jpg"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>Final year project exhibition</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure>
          <img
            src="../resources/images/certificates/broadway.jpg"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>Flutter framework training</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure></figure>
      </div>
    </section>
    <script src="../js/script.js"></script>
  </body>
</html>
