<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact me - Ragen Maharjan</title>
  <link rel="stylesheet" href="../css/light.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" \
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" \
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/responsive.css" />
</head>

<body>
  <div class="center-nab-el">
    <a href="/index.html">
      <p class="logo text-center"><img src="/resources/images/fabicon.ico" width="20px" alt="" srcset=""> RAGEN
        MAHARJAN
      </p>
    </a>
    <div class="container-btns" id="navbarId">
      <a href="../index.html" class="btns">Home</a>
      <a href="/views/aboutme.html" class="btns">About</a>
      <a href="/views/services.html" class="btns">Services</a>
      <a href="/views/gallery.html" class="btns">Gallery</a>
      <a href="/views/works.html" class="btns">Works</a>
      <a href="/views/education.html" class="btns">Education</a>
      <a href="/views/contacts.html" class="btns active">Contacts</a>
      <a href="/views/blogs/blogs.html" class="btns">Blogs</a>
      <a href="javascript:void(0);" class="icon" id="bars" onclick="showNavlinks()">
        <i class="fa fa-bars"></i>
      </a>
      <a href="javascript:void(0);" class="icon" id="close" onclick="closeNavlinks()">
        <i class="fa fa-close"></i>
      </a>
    </div>
  </div>
  <div class="toggle-button-cover">
    <div class="button-cover">
      <div class="button r" id="button-4">
        <input type="checkbox" class="checkbox" id="toggleId" onchange="toggleTheme();" />
        <div class="knobs"></div>
        <div class="layer"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container-all">
      <div class="header">
        <div class="section-title">
          <h2>My Contacts</h2>
        </div>
        <div class="slick-section ">

          <div class="direct-contact-container">
            <div class="contacts-links">
              <div class="contacts">
                <span><i class="fa-solid fa-square-envelope"></i><a href="mailto:ragenmah99@gmail.com"
                    title="Send me an email">
                    ragenmah99@gmail.com</a>
                </span>
                <span><i class="fa-solid fa-mobile-screen-button"></i>
                  <a href="tel:9808086299" title="Give me a call">
                    +977 9808086299</a>
                </span>
                <span><i class="fa-solid fa-location-pin"></i><a href=""> Kirtipur, Kathmandu</a>
                </span>
              </div>
              <img src="../resources/images/nepal.gif" alt="nepal.gif" />
            </div>
            <!-- <hr> -->
            <ul class="social-media-list">
              <li>
                <a href="https://www.facebook.com/ragen.maharjan" target="_blank" class="contact-icon">
                  <i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://github.com/ragenmah" target="_blank" class="contact-icon">
                  <i class="fa-brands fa-github" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ragen-maharjan-a4000118a/" target="_blank" class="contact-icon">
                  <i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <!-- <li>
                <a href="https://www.reddit.com/user/ragenmah99" target="_blank" class="contact-icon">
                  <i class="fa-brands fa-reddit" aria-hidden="true"></i></a>
              </li> -->
            </ul>
            <!-- <hr> -->

          </div>
        </div>
      </div>

    </div>
    <div class="service-image">
      <img src="../resources/images/contacts/contact.svg" class="service-img" alt="avatar" />
    </div>
  </div>
  <div class="scroll-parent">
    <section id="scroll" class="scroll-down">
      <a href="#mycontacts"><span></span></a>
    </section>
  </div>

  <section id="mycontacts" class="services">

    <div class="section-title">
      <h2>Contact</h2>

    </div>
    <p class="text-center">
      I am always availble 24 hours per 7 days. Feel free to contact me.
    </p>

    <div class="contact-wrapper p-20">
      <form id="contact-form" class="form-horizontal" name="contactForm" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="subject" placeholder="SUBJECT" name="subject" value=""
            autocomplete="off" />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" autocomplete="off"
            value="" />
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" id="message"></textarea>
        </div>
        <button class="send-button" id="submit" type="button" value="SEND" onclick="handleFormData();">
          <span class="send-text"> SEND</span>
          <i class="fa fa-paper-plane"></i>
        </button>
      </form>
      <div class="direct-contact-container p-20">
        <div class="contacts-links">
          <div class="contacts">
            <span><i class="fa-solid fa-square-envelope"></i><a href="mailto:ragenmah99@gmail.com"
                title="Send me an email">
                ragenmah99@gmail.com</a>
            </span>
            <span><i class="fa-solid fa-mobile-screen-button"></i>
              <a href="tel:9808086299" title="Give me a call">
                +977 9808086299</a>
            </span>
            <span><i class="fa-solid fa-location-pin"></i><a href=""> Kirtipur, Kathmandu</a>
            </span>
          </div>
          <img src="../resources/images/nepal.gif" alt="nepal.gif" />
        </div>
        <!-- <hr> -->
        <ul class="social-media-list">
          <li>
            <a href="https://www.facebook.com/ragen.maharjan" target="_blank" class="contact-icon">
              <i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://github.com/ragenmah" target="_blank" class="contact-icon">
              <i class="fa-brands fa-github" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ragen-maharjan-a4000118a/" target="_blank" class="contact-icon">
              <i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <!-- <li>
            <a href="https://www.reddit.com/user/ragenmah99" target="_blank" class="contact-icon">
              <i class="fa-brands fa-reddit" aria-hidden="true"></i></a>
          </li> -->
        </ul>
        <!-- <hr> -->

        <div class="copyright">Ⓒ RAGEN . MAHARJAN</div>
      </div>
    </div>
  </section>

  <script src="../js/script.js"></script>
</body>

</html>