<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ragen Maharjan - Education</title>
    <link
      href="../resources/images/ragen.jpg"
      rel="shortcut icon"
      type="image/x-icon"
    />
    
  </head>

  <body>
    <div class="pre-loader" id="pre-loader">LOADING...</div>
    <div class="center-nab-el">
      <div class="container-btns" id="navbarId">
        <a href="/portfolio/" class="btns">Home</a>
        <a href="/portfolio/views/services.html" class="btns">Services</a>
        <a href="/portfolio/views/gallery.html" class="btns"> Gallery </a>
        <a href="/portfolio/views/works.html" class="btns"> Works </a>
        <a href="#" class="btns"> Education </a>
        <a href="/portfolio/views/certificates.html" class="btns"> Certificates </a>
        <a href="/portfolio/views/contacts.html" class="btns"> Contacts </a>
        <a href="javascript:void(0);" class="icon" onclick="showNavlinks()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="toggle-button-cover">
      <div class="button-cover">
        <div class="button r" id="button-4">
          <input
            type="checkbox"
            class="checkbox"
            id="toggleId"
            onchange="toggleTheme();"
          />
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container-all">
        <div class="header">
          <h1>Hello there!</h1>
          <h1>Welcome to my education...</h1>
        </div>
      </div>
      <div class="service-image">
        <img
          src="../resources/images/education/education.svg"
          class="service-img"
          alt="avatar"
        />
      </div>
    </div>
    <div class="scroll-parent">
      <section id="scroll" class="scroll-down">
        <a href="#myeducation"><span></span></a>
      </section>
    </div>


    <section id="myeducation" class="services">
      <h2>My Education</h2>

      <div class="education-container">
        <figure>
          <div class="figure-img">
            <img
              src="../resources/images/education/khec.jpg"
              class="education-img"
              alt="khec.jpg"
            />
            <div class="overlay"></div>
          </div>
          <figcaption>
            <h3 class="sec-bck-color">KHWOPA ENGINEERING COLLEGE</h3>
            <span>
              <h5 class="sec-bck-color">
                Liwali, Bhaktapur — <i class="sec-bck-color">Bachelors</i>
              </h5>
            </span>
            <span>
              <h6 class="sec-bck-color">
                2014 - 2018 <i class="pass-status">passed</i>
              </h6>
            </span>
            <a
              href="https://khec.edu.np/"
              target="_blank"
              class="education-link"
              >Visit</a
            >
          </figcaption>
        </figure>
        <figure>
          <div class="figure-img">
            <img
              src="../resources/images/education/dav.jpg"
              class="education-img"
              alt="dav.jpg"
            />
            <div class="overlay"></div>
          </div>
          <figcaption>
            <h3 class="sec-bck-color">DAV COLLEGE</h3>
            <span>
              <h5 class="sec-bck-color">
                Dhobighat, Lalitpur — <i class="sec-bck-color">+2 HSEB</i>
              </h5>
            </span>
            <span>
              <h6 class="sec-bck-color">
                2012 - 2014 <i class="pass-status">passed</i>
              </h6>
            </span>
            <a
              href="https://davcollege.edu.np/"
              target="_blank"
              class="education-link"
              >Visit</a
            >
          </figcaption>
        </figure>
        <figure>
          <div class="figure-img">
            <img
              src="../resources/images/education/ujjwal.jpg"
              class="education-img"
              alt="ujjwal.jpg"
            />
            <div class="overlay"></div>
          </div>
          <figcaption>
            <h3 class="sec-bck-color">UJJWAL SHISHU NIKETAN ACADEMY</h3>
            <span>
              <h5 class="sec-bck-color">
                Kirtipur, Kathmandu — <i class="sec-bck-color">SLC</i>
              </h5>
            </span>
            <span>
              <h6 class="sec-bck-color">
                2012 <i class="pass-status">passed</i>
              </h6>
            </span>
            <a
              href="https://www.facebook.com/usna.edu/"
              target="_blank"
              class="education-link"
              >Visit</a
            >
          </figcaption>
        </figure>
      </div>
    </section>
    <script src="../js/script.js"></script>
  </body>
</html>
