<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ragen Maharjan - Gallery</title>
    <link
      href="../resources/images/ragen.jpg"
      rel="shortcut icon"
      type="image/x-icon"
    />
   
  </head>
  <body>
    <div class="pre-loader" id="pre-loader">LOADING...</div>
    <div class="center-nab-el">
      <div class="container-btns" id="navbarId">
        <a href="/" class="btns">Home</a>
        <a href="/views/services.html" class="btns">Services</a>
        <a href="" class="btns"> Gallery </a>
        <a href="/views/works.html" class="btns"> Works </a>
        <a href="/views/education.html" class="btns"> Education </a>
        <a href="/views/certificates.html" class="btns"> Certificates </a>
        <a href="/views/contacts.html" class="btns"> Contacts </a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="toggle-button-cover">
      <div class="button-cover">
        <div class="button r" id="button-4">
          <input
            type="checkbox"
            class="checkbox"
            id="toggleId"
            onchange="toggleTheme();"
          />
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container-all">
        <div class="header">
          <h1>Hello there!</h1>
          <h1>Welcome to my gallery...</h1>
        </div>
      </div>
      <div class="service-image">
        <img
          src="../resources/images/gallery/gallery.svg"
          class="service-img"
          alt="avatar"
        />
      </div>
    </div>
    <div class="scroll-parent">
      <section id="scroll" class="scroll-down">
        <a href="#mygallery"><span></span></a>
      </section>
    </div>

    <section id="mygallery" class="services">
      <div class="my-gallery">
        <figure>
          <img
            src="../resources/images/gallery/ragen_pp.jpg"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>Me at Bhaktapur</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure>
          <img
            src="../resources/images/gallery/ragen.jfif"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>Me at Pokhara</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure>
          <img
            src="../resources/images/gallery/college days.jfif"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>College Days</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure>
          <img
            src="../resources/images/gallery/snow.jfif"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>On the way to Poonhill</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure>
          <img
            src="../resources/images/gallery/award.jpg"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>Prize Distribution Program 2073</figcaption>
          <div class="overlay"></div>
        </figure>
        <figure>
          <img
            src="../resources/images/gallery/farewll last day.jfif"
            alt="ragen"
            class="gallery-img"
          />
          <figcaption>Me at Farewell Program</figcaption>
          <div class="overlay"></div>
        </figure>
      </div>
    </section>
    <script src="../js/script.js"></script>
  </body>
</html>
