<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../resources/images/fabicon.ico" rel="shortcut icon" type="image/x-icon" />

  <title>Ragen Maharjan - Gallery</title>
  <link rel="stylesheet" href="../css/light.css" />
  <link rel="stylesheet" href="../css/responsive.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" \
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" \
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="center-nab-el">
    <a href="/index.html">
      <p class="logo text-center">
        <img src="/resources/images/fabicon.ico" width="20px" alt="" srcset="" />
        RAGEN MAHARJAN
      </p>
    </a>
    <div class="container-btns" id="navbarId">
      <a href="/" class="btns">Home</a>
      <a href="/views/aboutme.html" class="btns">About</a>
      <a href="/views/services.html" class="btns">Services</a>
      <a href="/views/gallery.html" class="btns active">Gallery</a>
      <a href="/views/works.html" class="btns">Works</a>
      <a href="/views/education.html" class="btns">Education</a>
      <a href="/views/contacts.html" class="btns">Contacts</a>
      <a href="/views/blogs/blogs.html" class="btns">Blogs</a>
      <a href="javascript:void(0);" class="icon" id="bars" onclick="showNavlinks()">
        <i class="fa fa-bars"></i>
      </a>
      <a href="javascript:void(0);" class="icon" id="close" onclick="closeNavlinks()">
        <i class="fa fa-close"></i>
      </a>
    </div>
  </div>
  <div class="toggle-button-cover">
    <div class="button-cover">
      <div class="button r" id="button-4">
        <input type="checkbox" class="checkbox" id="toggleId" onchange="toggleTheme();" />
        <div class="knobs"></div>
        <div class="layer"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container-all">
      <div class="header text-center">
        <div class="section-title">
          <h2>My Gallery</h2>
        </div>
        <div class="slick-section">
          <a href="#mygallery">
            <div class="service-card">
              <i class="fa fa-camera icon-back" aria-hidden="true"></i>
              <h3 class="card-number">6</h3>
              <h4 class="card-title">Photos</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="service-image">
      <img src="../resources/images/gallery/gallery.svg" class="service-img" alt="avatar" />
    </div>
  </div>
  <div class="scroll-parent">
    <section id="scroll" class="scroll-down">
      <a href="#mygallery"><span></span></a>
    </section>
  </div>

  <section id="mygallery" class="contents">
    <div class="my-gallery">
      <figure>
        <img src="../resources/images/gallery/ragen_pp.jpg" alt="ragen" class="gallery-img" />
        <figcaption>Me at Bhaktapur</figcaption>
        <div class="overlay"></div>
      </figure>
      <figure>
        <img src="../resources/images/gallery/ragen.jfif" alt="ragen" class="gallery-img" />
        <figcaption>Me at Pokhara</figcaption>
        <div class="overlay"></div>
      </figure>
      <figure>
        <img src="../resources/images/gallery/college days.jfif" alt="ragen" class="gallery-img" />
        <figcaption>College Days</figcaption>
        <div class="overlay"></div>
      </figure>
      <figure>
        <img src="../resources/images/gallery/snow.jfif" alt="ragen" class="gallery-img" />
        <figcaption>On the way to Poonhill</figcaption>
        <div class="overlay"></div>
      </figure>
      <figure>
        <img src="../resources/images/gallery/award.jpg" alt="ragen" class="gallery-img" />
        <figcaption>Prize Distribution Program 2073</figcaption>
        <div class="overlay"></div>
      </figure>
      <figure>
        <img src="../resources/images/gallery/farewll last day.jfif" alt="ragen" class="gallery-img" />
        <figcaption>Me at Farewell Program</figcaption>
        <div class="overlay"></div>
      </figure>
    </div>
  </section>
  <script src="../js/script.js"></script>
</body>

</html>