<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../resources/images/fabicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Resume - Ragen Maharjan</title>
    <link rel="stylesheet" href="../css/light.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" \
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" \
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/responsive.css" />

</head>

<body>
    <div class="center-nab-el">
        <a href="/index.html">
            <p class="logo text-center"><img src="/resources/images/fabicon.ico" width="20px" alt="" srcset=""> RAGEN
                MAHARJAN
            </p>
        </a>
        <div class="container-btns" id="navbarId">
            <a href="../index.html" class="btns active">Home</a>
            <a href="/views/aboutme.html" class="btns">About</a>
            <a href="/views/services.html" class="btns">Services</a>
            <a href="/views/gallery.html" class="btns">Gallery</a>
            <a href="/views/works.html" class="btns">Works</a>
            <a href="/views/education.html" class="btns">Education</a>
            <a href="/views/contacts.html" class="btns">Contacts</a>
            <a href="/views/blogs/blogs.html" class="btns">Blogs</a>
            <a href="javascript:void(0);" class="icon" id="bars" onclick="showNavlinks()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="javascript:void(0);" class="icon" id="close" onclick="closeNavlinks()">
                <i class="fa fa-close"></i>
            </a>
        </div>
    </div>
    <div class="toggle-button-cover">
        <div class="button-cover">
            <div class="button r" id="button-4">
                <input type="checkbox" class="checkbox" id="toggleId" onchange="toggleTheme();" />
                <div class="knobs"></div>
                <div class="layer"></div>
            </div>
        </div>
    </div>
    <main class="contents">
        <div class="resume">
            <div class="section-title">
                <h2>Resume</h2>
            </div>

            <div class="resume-content d-flex">
                <div class="profile-card">
                    <div class="">
                        <img src="../resources/images/ragen-back.png" class="resume-profile-img" />
                    </div>
                    <h2 class="name">Ragen maharjan</h2>
                    <h1 class="my-post">Software Developer</h1>
                    <hr class="small-row mt-10" />
                    <p>
                        A passionate developer who brings creative ideas to foster the
                        goals of the company, with a strong understanding of the mobile
                        application development process and adaptable to any work
                        environment.
                    </p>
                    <hr class="small-row" />
                    <div class="icons">
                        <a href="https://www.facebook.com/ragen.maharjan" class="fa-brands fa-facebook-square"
                            target="_blank"></a>
                        <a href="https://github.com/ragenmah" class="fa-brands fa-github-square" target="_blank"></a>
                        <a href="https://www.linkedin.com/in/ragen-maharjan-a4000118a/" class="fa-brands fa-linkedin"
                            target="_blank"></a>
                        <a href="https://www.reddit.com/user/ragenmah99" class="fa-brands fa-reddit-square"
                            target="_blank"></a>
                    </div>

                    <h6 class="copyright text-center p-20">
                        <i class="fa fa-copyright" aria-hidden="true"></i>
                        Ragen maharjan
                        <a href="http://ragen.com.np/"> ragen.com.np</a>
                        <img src="../resources/images/banners/banner.png" alt="banner.jpg" class="banner" srcset="">
                    </h6>
                </div>
                <div class="resume-card">
                    <a href="https://drive.google.com/file/d/1qDbxlEaDDTvx3yo70Rw-yugwnbl5AKuG/view?usp=share_link">
                        <h6><i class="fa fa-cloud-download"> Download</i></h6>
                    </a>
                    <h4 class="resume-title text-center">EDUCATION</h4>
                    <div class="education p-20">
                        <a href="https://ncit.edu.np/">Nepal College of Information technology
                        </a>
                        <h3>
                            Balkumari, Lalitpur —
                            <i>Masters in Computer Engineering (Running) </i>
                        </h3>
                        <h1>03/2020 - PRESENT</h1>
                    </div>
                    <div class="education p-20">
                        <a href="http://khec.com.np">Khwopa Engineering College </a>
                        <h3>
                            Libali, Bhaktapur —
                            <i>Bachelors in Computer Engineering (2.67 GPA)</i>
                        </h3>
                        <h1>2014 - 2018</h1>
                    </div>

                    <h4 class="resume-title text-center">EXPERIENCES</h4>
                    <div class="education p-20">
                        <a href="https://techcomnepal.com/">Tech Community Nepal</a>
                        <h3>Kathmandu — <i>Mobile Applcation developer - Part time</i></h3>
                        <h1>05/2022 - now</h1>
                        <ul>
                            <li>
                                Working as a part time developer in a mobile application developer role.
                            </li>
                        </ul>
                    </div>
                    <div class="education p-20">
                        <a href="https://www.aeromaxnepal.com/">Aeromax International</a>
                        <h3>Kathmandu — <i>Mobile FullStack developer - Part time</i></h3>
                        <h1>05/2022 - 08/2022</h1>
                        <ul>
                            <li>
                                Working as a part time developer in a full stack mobile
                                application developer role.
                            </li>

                            <li>
                                Worked in Nodejs, MongoDB and flutter technologies.
                            </li>
                        </ul>
                    </div>
                    <div class="education p-20">
                        <a href="https://gurzu.com/">Gurzu Inc</a>
                        <h3>Lalitpur — <i>React native bootcamper - Part time</i></h3>
                        <h1>01/2022 - 03/2022</h1>
                        <ul>
                            <li>
                                Joined bootcamp to boost my knowledge in the mobile
                                application development field.
                            </li>
                        </ul>
                    </div>
                    <div class="education p-20">
                        <a href="https://cellapp.co/">Cell app innovation </a>
                        <h3>
                            Thapathali, Kathmandu —
                            <i>Mobile application developer - full time</i>
                        </h3>
                        <h1>07/2020 - 03/2021</h1>
                        <ul>
                            <li>
                                Developed a cross platform mobile application using flutter.
                            </li>
                            <li>
                                Worked in different products and became familiar with
                                firebase, and other third-party package integration like map
                                integration and push notification.
                            </li>
                            <li>Mentored some of the interns</li>
                        </ul>
                    </div>
                    <div class="education p-20">
                        <a href="http://hitechnepal.com.np/">Hitech Solutions and Services Pvt Ltd</a>
                        <h3>Kalimati, Kathmandu — <i>.Net Developer - full time</i></h3>
                        <h1>01/2019 - 03/2020</h1>
                        <ul>
                            <li>
                                Worked as a junior .net developer and familiar with .net
                                technologies. Here, I was involved mostly in desktop
                                applications.
                            </li>
                            <li>
                                Gained some accounting knowledge and created a payroll system.
                            </li>
                        </ul>
                    </div>
                    <div class="education p-20">
                        <a href="http://www.midastechnologies.com.np/site/">Midas Technologies
                        </a>
                        <h3>Sanepa, Lalitpur — <i>Beginner - full time</i></h3>
                        <h1>10/2018 - 12/2018</h1>
                        <ul>
                            <li>
                                Joined as an intern, learnt PHP framework named CodeIgniter.
                            </li>
                            <li>
                                Work on the Hospital management system for a short time.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../js/script.js"></script>
</body>

</html>