<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ragen Maharjan - Services</title>
    <link
      href="../resources/images/ragen.jpg"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <base href="https://ragenmah.github.io/portfolio" >
   
  </head>
  <body>
    <div class="pre-loader" id="pre-loader">LOADING...</div>
    <div class="center-nab-el">
      <div class="container-btns" id="navbarId">
        <a href="/" class="btns">Home</a>
        <a href="" class="btns">Services</a>
        <a href="/views/gallery.html" class="btns"> Gallery </a>
        <a href="/views/works.html" class="btns"> Works </a>
        <a href="/views/education.html" class="btns"> Education </a>
        <a href="/views/certificates.html" class="btns"> Certificates </a>
        <a href="/views/contacts.html" class="btns"> Contacts </a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="toggle-button-cover">
      <div class="button-cover">
        <div class="button r" id="button-4">
          <input
            type="checkbox"
            class="checkbox"
            id="toggleId"
            onchange="toggleTheme();"
          />
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>
    </div>
    
      <div class="container">
        <div class="container-all">
          <div class="header">
            <h1>Hello there!</h1>
            <h1>Welcome to my services...</h1>
          </div>
        </div>
        <div class="service-image">
          <img
            src="../resources/images/services/services3.svg"
            class="service-img"
            alt="avatar"
          />
        </div>
      </div>
      <div class="scroll-parent">
        <section id="scroll" class="scroll-down">
          <a href="#myservices"><span></span>Scroll</a>
        </section>
      </div>
   
    
    

    <section id="myservices" class="services">
      <h2>What I do?</h2>
      <p class="p-20">
        I believe in RPD rules and I follow it whenever I will be doing
        something new. RPD means Research, Practice and Develop.
      </p>

      <div class="d-flex p-20">
        <div class="block">
          <img
            src="../resources/images/services/research.svg"
            alt="research.jpg"
            srcset=""
            class="block-img"
          />
          <div class="block-title">Research</div>
          <div class="block-description">
            Research means not only search and search again but also to gain
            some fact, process those facts and come to the conclusion. So,
            Someone need to do research to generate new idea.
          </div>
        </div>
        <div class="block">
          <img
            src="../resources/images/services/practice.svg"
            class="block-img"
            alt="practice.jpg"
            srcset=""
          />
          <div class="block-title">Practice</div>
          <div class="block-description">
            Practice makes a man perfect. To be good in anything, you need to
            practice first. Without practice, you will not be able to gain the
            experience. So, to gain experience you need to more practice.
          </div>
        </div>
        <div class="block">
          <img
            src="../resources/images/services/develop.svg"
            alt="develop.jpg"
            srcset=""
            class="block-img"
          />
          <div class="block-title">Develop</div>
          <div class="block-description">
            To Develop something you need to do research and practice then only
            you will be more productive and intelligent.
          </div>
        </div>
      </div>
    </section>

    <section class="my-services">
      <h2>My services</h2>
      <p class="p-20">
        I am learning and working in following some technologies.
      </p>
      <div class="p-20">
        <ul class="my-skill-flex">
          <li>
            <h3>Frontend</h3>
            <div class="my-skills pt-10">
              <!-- HTML5 -->
              <p class="pt-10" style="width: 80%" data-value="80">HTML5</p>
              <progress max="100" value="80" class="html5">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 80%">80%</span>
                </div>
              </progress>

              <!-- CSS3 -->
              <p style="width: 60%" data-value="60">CSS3</p>
              <progress max="100" value="60" class="css3">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 60%">60%</span>
                </div>
              </progress>

              <!-- jQuery -->
              <p style="width: 50%" data-value="50">Javascript</p>
              <progress max="100" value="50" class="jquery">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 50%">50%</span>
                </div>
              </progress>

              <p style="width: 50%" data-value="50">jQuery</p>
              <progress max="100" value="50" class="jquery">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 50%">50%</span>
                </div>
              </progress>

              <p style="width: 50%" data-value="50">Flutter</p>
              <progress max="100" value="50" class="jquery">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 50%">50%</span>
                </div>
              </progress>

              <p style="width: 50%" data-value="50">React</p>
              <progress max="100" value="50" class="jquery">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 50%">50%</span>
                </div>
              </progress>

              <p style="width: 50%" data-value="50">React native</p>
              <progress max="100" value="50" class="jquery">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 50%">50%</span>
                </div>
              </progress>

              <p style="width: 50%" data-value="50">Android</p>
              <progress max="100" value="50" class="jquery">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 50%">50%</span>
                </div>
              </progress>
            </div>
          </li>
          <li>
            <h3>Backend</h3>
            <div class="my-skills pt-10">
              <p style="width: 65%" data-value="75">Laravel</p>
              <progress max="100" value="75" class="Laravel">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 75%">75%</span>
                </div>
              </progress>

              <!-- PHP -->
              <p style="width: 65%" data-value="65">PHP</p>
              <progress max="100" value="65" class="php">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 65%">65%</span>
                </div>
              </progress>

              <!-- Node.js -->
              <p style="width: 35%" data-value="35">Node.js</p>
              <progress max="100" value="35" class="node-js">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 35%">35%</span>
                </div>
              </progress>
            </div>

            <h3>Database</h3>
            <div class="my-skills pt-10">
              <p style="width: 35%" data-value="35">My SQL</p>
              <progress max="100" value="75" class="Laravel">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 75%">75%</span>
                </div>
              </progress>

              <p>SQL SERVER</p>
              <progress max="100" value="75" class="Laravel">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 75%">75%</span>
                </div>
              </progress>

              <p>Firebase</p>
              <progress max="100" value="75" class="Laravel">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 75%">75%</span>
                </div>
              </progress>
              <p>Mongo DB</p>
              <progress max="100" value="75" class="Laravel">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 75%">75%</span>
                </div>
              </progress>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <script src="../js/script.js"></script>
  </body>
</html>
