<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ragen Maharjan - Works</title>
    <link
      href="../resources/images/ragen.jpg"
      rel="shortcut icon"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="pre-loader" id="pre-loader">LOADING...</div>
    <div class="center-nab-el">
      <div class="container-btns" id="navbarId">
        <a href="/portfolio/" class="btns">Home</a>
        <a href="/portfolio/views/services.html" class="btns">Services</a>
        <a href="/portfolio/views/gallery.html" class="btns"> Gallery </a>
        <a href="#" class="btns"> Works </a>
        <a href="/portfolio/views/education.html" class="btns"> Education </a>
        <a href="/portfolio/views/certificates.html" class="btns"> Certificates </a>
        <a href="/portfolio/views/contacts.html" class="btns"> Contacts </a>
        <a href="javascript:void(0);" class="icon" onclick="showNavlinks()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="toggle-button-cover">
      <div class="button-cover">
        <div class="button r" id="button-4">
          <input
            type="checkbox"
            class="checkbox"
            id="toggleId"
            onchange="toggleTheme();"
          />
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container-all">
        <div class="header">
          <h1>Hello there!</h1>
          <h1>Welcome to my works...</h1>
        </div>
      </div>
      <div class="service-image">
        <img
          src="../resources/images/work/work.svg"
          class="service-img"
          alt="avatar"
        />
      </div>
    </div>
    <div class="scroll-parent">
      <section id="scroll" class="scroll-down">
        <a href="#myworks"><span></span></a>
      </section>
    </div>

    <section id="myworks" class="services">
      <div class="previous-works">
        <h2>Previous working experiences</h2>
        <p class="p-20">
          In the last few years, I have worked in different sector and I have
          done what I loved to do.
        </p>
        <div class="prev-work-container">
          <figure>
            <div class="prev-work-figure-img">
              <img
                src="../resources/images/work/places/cellapp.svg"
                class="prev-work-img"
                alt="khec.jpg"
              />
              <div class="overlay"></div>
            </div>
            <figcaption>
              <h3 >CELL APP INNOVATION</h3>
              <span>
                <h5 >
                  Thapathali, Kathmandu —
                  <i >Mobile application developer</i>
                </h5>
              </span>
              <span>
                <h6 >07/2020 - 03/2021</h6>
              </span>
              <ul>
                <li>
                  Developed a cross platform mobile application using flutter.
                </li>
                <li>
                  Worked in different products and became familiar with
                  firebase, Google maps, push notification and other third-party
                  package integration
                </li>
                <li>Mentored some of the interns</li>
              </ul>
              <a
                href="https://cellapp.co/"
                target="_blank"
                class="prev-work-link"
                >Visit</a
              >
            </figcaption>
          </figure>
          <figure>
            <div class="prev-work-figure-img">
              <img
                src="../resources/images/work/places/hitech-logo.png"
                class="prev-work-img"
                alt="dav.jpg"
              />
              <div class="overlay"></div>
            </div>
            <!-- hello mentors -->
            <figcaption>
              <h3 >
                Hitech Solutions and Services Pvt Ltd
              </h3>
              <span>
                <h5 >
                  Kalimati, Kathmandu — —
                  <i >.Net Developer</i>
                </h5>
              </span>
              <span>
                <h6 >01/2019 - 03/2020</h6>
              </span>
              <ul>
                <li>
                  Worked as a junior .net developer and familiar with .net
                  technologies. Here, I was involved mostly in desktop
                  applications.
                </li>
                <li>
                  Gained some accounting knowledge and created a payroll system.
                </li>
              </ul>
              <a
                href="http://hitechnepal.com.np/"
                target="_blank"
                class="prev-work-link"
                >Visit</a
              >
            </figcaption>
          </figure>
          <figure>
            <div class="prev-work-figure-img">
              <img
                src="../resources/images/work/places/midas.png"
                class="prev-work-img"
                alt="ujjwal.jpg"
              />
              <div class="overlay"></div>
            </div>
            <figcaption>
              <h3 >Midas Technologies</h3>
              <span>
                <h5 >
                  Sanepa, Lalitpur — <i >Internship</i>
                </h5>
              </span>
              <span>
                <h6 >10/2018 - 12/2018</h6>
              </span>
              <ul>
                <li>
                  Joined as an intern, learnt PHP framework named CodeIgniter.
                </li>
                <li>
                  Work on the Hospital management system for a short time.
                </li>
              </ul>
              <a
                href="https://www.midastechnologies.com.np/"
                target="_blank"
                class="prev-work-link"
                >Visit</a
              >
            </figcaption>
          </figure>
        </div>
      </div>
      <h2>My Works</h2>
      <p class="p-20">The following are some of my works..</p>
      <div class="works-container">
        <div class="work-image-wrapper work1" work-value="work1">
          <img
            src="../resources/images/work/pushpa.png"
            class="work-image"
            alt="pushpakamal.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Pushpakamal Investment ltd.</h3>
            </div>
            <div class="work-description">
              <a
                href="https://github.com/ragenmah/pushpakamal"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work2" work-value="work2">
          <img
            src="../resources/images/work/jojolapa.png"
            class="work-image"
            alt="jojolapa.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>JoJolapa Restaurant</h3>
            </div>
            <div class="work-description">
              <a
                href="https://www.jojo-lapa.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work3" work-value="work3">
          <img
            src="../resources/images/work/aushadipasal.png"
            class="work-image"
            alt="aushadipasal.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Ausadhi Pasal - Your Online Pharmacy</h3>
            </div>
            <div class="work-description">
              <a
                href="https://play.google.com/store/apps/details?id=co.cellapp.ausadhipasal&hl=en&gl=US"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work4" work-value="work4">
          <img
            src="../resources/images/work/Inverted_icon.png"
            class="work-image"
            alt="pushpakamal.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Pahuna</h3>
            </div>
            <div class="work-description">
              <a
                href="https://play.google.com/store/apps/details?id=com.pahuna.www&hl=en&gl=US"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work5" work-value="work5">
          <img
            src="../resources/images/work/flutter.png"
            class="work-image"
            alt="todo.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Todo (Contact Details)</h3>
            </div>
            <div class="work-description">
              <a
                href="https://github.com/ragenmah/todo"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work6" work-value="work6">
          <img
            src="https://user-images.githubusercontent.com/30024247/86786887-38d63580-c084-11ea-848f-9574620d10f7.png"
            class="work-image"
            alt="corona.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>TrackCorona</h3>
            </div>
            <div class="work-description">
              <a
                href="https://github.com/ragenmah/trackCorona"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work7" work-value="work7">
          <img
            src="../resources/images/work/VB6.png"
            class="work-image"
            alt="addressbook.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Addressbook</h3>
            </div>
            <div class="work-description">
              <a
                href="https://github.com/ragenmah/addressbook_vb6"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work8" work-value="work8">
          <img
            src="../resources/images/work/csharp.png"
            class="work-image"
            alt="pushpakamal.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Send Mail</h3>
            </div>
            <div class="work-description">
              <a
                href="https://github.com/ragenmah/sendMail"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>

        <div class="work-image-wrapper" work-value="work9">
          <img
            src="https://raw.githubusercontent.com/ragenmah/engNotes/master/assets/note_logo.png"
            class="work-image"
            alt="engnotes.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Eng Notes</h3>
            </div>
            <div class="work-description">
              <a
                href="https://github.com/ragenmah/engNotes/tree/master/assets"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../js/script.js"></script>
  </body>
</html>
