<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ragen Maharjan - Works</title>
    <link
      href="../resources/images/ragen.jpg"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="container-btns" id="navbar">
      <a href="/" class="btns">Home</a>
      <a href="/views/services.html" class="btns">Services</a>
      <a href="/views/gallery.html" class="btns"> Gallery </a>
      <a href="" class="btns"> Works </a>
      <a href="/views/education.html" class="btns"> Education </a>
      <a href="/views/certificates.html" class="btns"> Certificates </a>
      <a href="/views/contacts.html" class="btns"> Contacts </a>
    </div>
    <div class="container">
      <div class="container-all">
        <div class="header">
          <h1>Hello there!</h1>
          <h1>Welcome to my works...</h1>
        </div>
      </div>
      <div class="service-image">
        <img
          src="../resources/images/work/work.svg"
          class="service-img"
          alt="avatar"
        />
      </div>
    </div>
    <section id="section08" class="demo">
      <a href="#myworks"><span></span>Scroll</a>
    </section>

    <section id="myworks" class="services">
      <h2>My Works</h2>
      <p class="p-20">The following are some of my works..</p>
      <div class="works-container">
        <div class="work-image-wrapper work1" work-value="work1">
          <img
            src="../resources/images/work/pushpa.png"
            class="work-image"
            alt="pushpakamal.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Pushpakamal Investment ltd.</h3>
            </div>
            <div class="work-description">
              <a
                href="https://github.com/nischal10-gt/Pushpakamal"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work2" work-value="work2">
          <img
            src="../resources/images/work/jojolapa.png"
            class="work-image"
            alt="jojolapa.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>JoJolapa Restaurant</h3>
            </div>
            <div class="work-description">
              <a
                href="https://www.jojo-lapa.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work3" work-value="work3">
          <img
            src="../resources/images/work/aushadipasal.png"
            class="work-image"
            alt="aushadipasal.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Ausadhi Pasal - Your Online Pharmacy</h3>
            </div>
            <div class="work-description">
              <a
                href="https://play.google.com/store/apps/details?id=co.cellapp.ausadhipasal&hl=en&gl=US"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work4" work-value="work4">
          <img
            src="../resources/images/work/Inverted_icon.png"
            class="work-image"
            alt="pushpakamal.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Pahuna</h3>
            </div>
            <div class="work-description">
              <a
                href="https://play.google.com/store/apps/details?id=com.pahuna.www&hl=en&gl=US"
                target="_blank"
                rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work5" work-value="work5">
          <img
            src="../resources/images/work/flutter.png"
            class="work-image"
            alt="todo.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Todo (Contact Details)</h3>
            </div>
            <div class="work-description">
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work6" work-value="work6">
          <img
            src="https://user-images.githubusercontent.com/30024247/86786887-38d63580-c084-11ea-848f-9574620d10f7.png"
            class="work-image"
            alt="corona.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>TrackCorona</h3>
            </div>
            <div class="work-description">
              <a href="https://github.com/ragenmah/trackCorona" target="_blank" rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work7" work-value="work7">
          <img
            src="../resources/images/work/VB6.png"
            class="work-image"
            alt="addressbook.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Addressbook</h3>
            </div>
            <div class="work-description">
              <a href="https://github.com/ragenmah/addressbook_vb6" target="_blank" rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
        <div class="work-image-wrapper work8" work-value="work8">
          <img
            src="../resources/images/work/csharp.png"
            class="work-image"
            alt="pushpakamal.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Send Mail</h3>
            </div>
            <div class="work-description">
              <a href="https://github.com/ragenmah/sendMail" target="_blank" rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>

        <div class="work-image-wrapper" work-value="work9">
          <img
            src="https://raw.githubusercontent.com/ragenmah/engNotes/master/assets/note_logo.png"
            class="work-image"
            alt="engnotes.jpg"
          />
          <div class="overlay">
            <div class="work-title">
              <h3>Eng Notes</h3>
            </div>
            <div class="work-description">
              <a href="https://github.com/ragenmah/engNotes/tree/master/assets" target="_blank" rel="noopener noreferrer"
                >Demo</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../js/script.js"></script>
  </body>
</html>
